In [5]:
import data

In [6]:
db = data.Database()
df = db.dataframe()
df

,Name,Type,Level,Rarity,Damage,Health,Energy,Sanity,Timestamp
0,Pit Fiend,Demonic,6,Rank 2,6d6+2,37.78,37.69,37.37,2023-11-18 08:30:21
1,Magma Elemental,Elemental,11,Rank 1,11d4,43.69,43.71,45.34,2023-11-18 08:30:21
2,White Faerie,Fey,9,Rank 0,9d2+1,18.86,17.60,17.91,2023-11-18 08:30:21
3,Ice Devil,Devilkin,6,Rank 0,6d2,11.89,12.27,12.57,2023-11-18 08:30:21
4,Shadow Mephit,Elemental,9,Rank 4,9d10+2,94.22,86.74,88.40,2023-11-18 08:30:21
...,...,...,...,...,...,...,...,...,...
995,Efreeti,Elemental,12,Rank 0,12d2+1,23.56,23.48,24.29,2023-11-18 08:30:21
996,Steam Spirit,Fey,5,Rank 0,5d2,9.68,9.52,10.86,2023-11-18 08:30:21
997,Spore Devil,Devilkin,19,Rank 2,19d6+3,111.21,111.32,111.85,2023-11-18 08:30:21
998,Efreeti,Elemental,13,Rank 0,13d2+2,25.33,26.92,26.31,2023-11-18 08:30:21
999,Silver Faerie,Fey,14,Rank 1,14d4,54.21,55.04,56.34,2023-11-18 08:30:21